body{
    background-image: url("bg.jpg");
}
#canvas{
    position: absolute;
    left: 30px;
    top: 50px;
    border: 10px solid;
    border-image: repeating-linear-gradient(45deg,black,white,red 40px) 60;
    background-color: white;
}
#pen {
    position: absolute;
    top: 75px;
    left: 900px;
}
#line{
    position: absolute;
    top: 425px;
    left: 900px;
}
#eraser{
    position: absolute;
    top: 250px;
    left: 900px;
}
#text{
    position: absolute;
    top: 250px;
    left: 1100px;
}
#textalert{
    position: absolute;
    top: 50px;
    left: 1300px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: crimson;
}
#settingalert{
    position: absolute;
    top: 200px;
    left: 1300px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: crimson;
}
#colorselect{
    position: absolute;
    top: 300px;
    left: 1300px;
}
#brushsize{
    position: absolute;
    top: 300px;
    left: 1400px;
}
#downloadalert{
    position: absolute;
    top: 350px;
    left: 1300px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: crimson;
}
#download{
    position: absolute;
    top: 500px;
    left: 1300px;
    font-size: 50px;
}
#uploadalert{
    position: absolute;
    top: 580px;
    left: 1300px;
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    color: crimson;
}
#upload{
    position: absolute;
    top: 750px;
    left: 1300px;
}
#textinput{
    position: absolute;
    top: 150px;
    left: 1300px;
    size: 40;
}
#textsize{
    position: absolute;
    top: 150px;
    left: 1500px;
}
#textfont{
    position: absolute;
    top: 150px;
    left: 1650px;
}
#circle{
    position: absolute;
    top: 425px;
    left: 1100px;
}
#clear{
    position: absolute;
    top: 75px;
    left: 1100px;
}
#rectangle{
    position: absolute;
    top: 600px;
    left: 1100px;
}
#triangle{
    position: absolute;
    top: 600px;
    left: 900px;
}
#undo{
    position: absolute;
    top: 775px;
    left: 900px;
}
#redo{
    position: absolute;
    top: 775px;
    left: 1100px;
}